/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* background image */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* lista nav-bar */
.nav-bar {
    background-color: #255ee9;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

/* 5 tasti centrali */
#header_link {
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

#header_link>li {
    padding: 0 1rem;
}

/* img jumbotron */
.jumbotron {
    margin: 0 auto;
    width: 50%;
}

h1,
p,
.jumbotron_header {
    text-align: center;
}

h1 {
    margin: 10rem 0 1rem;
    word-spacing: 3px;
    font-size: 3rem;
}

p {
    word-spacing: 2px;
    font-size: 1.3rem;
}

.jumbotron_header>button {
    margin: 1rem 1rem 4rem;
}

.white,
.nav-bar,
#black-button,
.purple_button,
footer {
    color: white;
}

/* display flex */
#header_link,
.nav-bar,
.upper_footer,
.footer_link,
body>section {
    display: flex;
}

#last_section {
    flex-direction: column;
}

/* Grafica buttons */
button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}

#black-button {
    background-color: black;
}

.purple_button {
    background-color: #7288d7;
}

/* parte footer */
footer {
    background-color: #23272a;
}

.footer_container {
    margin: 0 auto;
    max-width: 80%;
    padding: 3rem;
}

/* link del footer */
.footer_link {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}

.down_footer {
    display: flex;
    justify-content: space-between;
}

.footer_link>ul>li:first-child,
h3 {
    color: #7288d7;
}

.upper_footer {
    justify-content: space-between;
}

.footer_link>ul>li,
h3,
.language_selection {
    padding: 0.5rem 0;
}

hr {
    margin: 2rem 0 1rem;
}